a{text-decoration: none; color: #000}

nav{
    background: skyblue;
    padding: 20px 0;
}
nav>ul{
    display: flex;
    position: relative;
    
}
nav>ul>li{position: relative;}
nav>ul>li>a{
    padding: 19px 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}
nav>ul>li>ul{
    display: none; 
    position: absolute;
    top: 36px;
    width: 100%;
    
    background: yellow;
}
nav>ul:hover>li>ul{display: block; text-align: center;}
nav>ul>li>ul>li{display: block;}
nav>ul>li>ul>li{
    transition: .5s;

}
nav>ul>li>ul>li:hover{
    background: red;
    
}
nav>ul>li>ul>li>a{
    display: block;
    padding: 20px;
}
nav>ul>li>ul>li>a:hover{
    color: #fff;
}