*{margin: 0;padding: 0;}

a{color: #000; text-decoration: none;}
ul{list-style: none;}


nav{
    background: darkblue;
    width: 100%;
    height: 40px;    
}
nav>ul{
    height: 100%;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
}
nav>ul>li{
    position: relative;
} 
nav>ul>li>a{
    padding: 10px 20px;
    color: #fff;
} 
nav>ul>li>ul{
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background: rgb(152, 152, 245);
    width: 100%;
} 
nav>ul>li:hover>ul{
    display: block;
}
nav>ul>li:hover>a{
    display: block;
    color: red;
}
nav>ul>li>ul>li{
    height: 30px;
    line-height: 30px;
    text-align: center;
} 
nav>ul>li>ul>li:hover{
    background: aqua;
}
nav>ul>li>ul>li>a{} 