*{text-decoration: none; color: #000;}
#wrap{
    
}
#header{
   width: 100%;
   height: 100px;
   padding: 0 50px;
   background: rgba(255,255,255,.6);
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}



#nav{}
#nav .bg{}

#nav>ul{
   display: flex;
   
   
}
#nav>ul>li{
    width: 150px;
    text-align: center;
}
#nav>ul>li>a{
    margin: 0 20px;
    font-weight: bold;
}
#nav>ul>li:nth-child(1)>a{color: red;}
#nav>ul>li:nth-child(2)>a{color: purple;}
#nav>ul>li:nth-child(3)>a{color: green;}
#nav>ul>li:nth-child(4)>a{color: blue;}
#nav>ul>li:nth-child(5)>a{color: brown;}

.searchbox{
    background: blue url(../image/totalsearch_ico.png) no-repeat right 20px center;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 20px
}
.searchbox>input{
    background: blue;
    border: none;
    color: #fff;
}
.searchbox>input:focus{
    outline: none;
}

#content{
    width: 100%;
    height: 800px;
    background: aqua;
}
.mainSlide{
    width: 100%;
    height: 800px;
    background: url(../image/bg.jpg) no-repeat center center/cover;
}
#nav>ul>li{
    ;
}
#nav>ul>li>ul{
    display: block;
    position: absolute;
    top: 100px;
    width: 150px;
}
#nav>ul>li>ul>li{
    
    
}
#nav>ul>li>ul>li>a{

}
